@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/static/Lexend-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/static/Lexend-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/static/Lexend-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend/static/Lexend-Bold.ttf");
  font-weight: 700;
}

body {
  background: #ffecec;
}
